<div class="content-module-heading cf">

  <h3 class="fl">Mensagens</h3>
  <span class="fr expand-collapse-text">Click to collapse</span>
  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

</div> <!-- end content-module-heading -->


<div class="content-module-main">

  <table>
  
    <thead>
  
      <tr>
        <th></th>
        <th>Assunto</th>
        <th>Recebida em</th>
        <th>Ações</th>
      </tr>
    
    </thead>
    
    <tbody>

      <% @messages.each do |message| %>

      <tr>
        <td><%= image_tag "#{message.read ? 'read' : 'not_read'}.png" %></td>
        <td><%= message.subject %></td>
        <td><%= message.created_at.strftime("%H:%M %d/%m/%Y") %></td>
        <td>
          <%= link_to "Visualizar", message %>
        </td>
      </tr>

      <% end %>

    </tbody>
    
  </table>

  <% if @messages.num_pages > 1 %>

    <div class="stripe-separator"><!--  --></div>

    <%= paginate @messages %>

  <% end %>

</div> <!-- end content-module-main -->