<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { id: 'login-form' }) do |f| %>
<%= devise_error_messages! %>

  <fieldset>

    <p>
      <%= f.label :email %>
      <%= f.text_field :email, id: 'login-username', class: "round full-width-input", autofocus: true %>
    </p>

    <%= f.submit "Enviar instruções de troca de senha", class: "button round blue image-right ic-right-arrow" %>

    <p style="margin-top: 15px;">Acessar <%= link_to "minha conta", dashboard_index_path %>.</p>
    <p>Ainda <%= link_to "não sou cadastrado", new_user_registration_path %>.</p>

  </fieldset>

<% end %>