<div class="content-module-heading cf">

  <h3 class="fl">Cores</h3>
  <span class="fr expand-collapse-text">Clique para esconder</span>
  <span class="fr expand-collapse-text initial-expand">Clique para expandir</span>

</div> <!-- end content-module-heading -->


<div class="content-module-main">

  <%= link_to "Nova cor", new_color_path, class: "button round blue image-right ic-right-arrow" %>
  
  <div class="stripe-separator"><!--  --></div>
  
  <table>
  
    <thead>
  
      <tr>
        <th></th>
        <th>Nome</th>
        <th>Código</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    
    </thead>
    
    <tbody>

      <% @colors.each do |color| %>

      <tr>
        <td></td>
        <td><span class='color-product' style="vertical-align: middle; margin-right: 10px; background-color: <%= color.code.html_safe %>;"></span><%= color.name %></td>
        <td><%= color.code %></td>
        <td><%= color.category %></td>
        <td>
          <%= link_to "", [:edit, color], class: "table-actions-button ic-table-edit" %>
          <%= link_to "", color, method: :delete, class: "table-actions-button ic-table-delete", confirm: "Confirma exclusão?" %>
        </td>
      </tr>

      <% end %>

    </tbody>
    
  </table>
  
  <% if @colors.num_pages > 1 %>

    <div class="stripe-separator"><!--  --></div>

    <%= paginate @colors %>

  <% end %>

</div> <!-- end content-module-main -->