<div class="item fl">
  
  <div class="product-image cf">
    <%= link_to ( 
        image_tag get_image(item.image.thumb), id: "image-#{item.id}"
  ), item_path(item) %>
    <% if current_user.try(:admin?) and item.image.thumb.blank? %>
      <%= link_to "upload", "#model-#{item.id}", class: 'upload-link fancybox', id: "link-#{item.id}" %>
    <% end %>
  </div>

  <div class="product-details cf">
    <h2><%= item.name %></h2>
  </div>

  <div class="product-actions cf">
    <span class="price fl">
      <%= monetize item.price %>
    </span>
    <%= link_to "Adicionar ao carrinho", item, class: "btn btn-carrinho fr" %>

  </div>
  
  <% if current_user.try(:admin?) and item.image.thumb.blank? %>

  <div class="upload-model" id="model-<%= item.id %>">
    <h3><strong><%= item.name %></strong></h3>
    <%= form_for item, html: { multipart: true }, remote: true do |f| %>
    <p>
      <label>URL:</label>
      <%= f.text_field :remote_image_url %>
    </p>

    <%= f.submit "Enviar", class: "btn" %>
  <% end %>
  </div>

  <% end %>

</div>