<div class="product-listing">
  <% @products.each do |key, products| %>
    <div class="row">

      <div class="initial-page-title">
        <h3><%= key %></h3>
      </div>

      <% products.each do |product| %>

        <div class="product three columns" id="product-<%= product.id %>">
          <div class="product-image">
            <%= link_to ( 
                image_tag get_image(product.image.thumb), width: 100, height: 100
              ), product
            %>
          </div>

          <div class="product-details">
            <%= product.name %>
          </div>

          <div class="product-actions">
            <span class="price left">
              <small>a partir de</small><br />
              <%= monetize product.price %>
            </span>
            <%= link_to "Comprar", product, class: "btn right btn-carrinho", 'data-hint'=>"Bounce" %>
          </div>
        </div>

      <% end %>

    </div>

  <% end %>
</div>