<div class="content-module-heading cf">

  <h3 class="fl">Deixe sua <strong>mensagem</strong></h3>
  <span class="fr expand-collapse-text"></span>
  <span class="fr expand-collapse-text initial-expand"></span>

</div> <!-- end content-module-heading -->

<div class="content-module-main cf">

  <p class="contact-text">
    Se você tem alguma dúvida, sugestão ou quiser saber um pouco<br />
    mais sobre quem somos e o que fazemos, entre em contato<br />
    conosco por meio do formulário abaixo.
  </p>

  <%= simple_form_for(@message, method: :post, url: contact_messages_path) do |f| %>

    <fieldset>

      <p>
        <%= f.label :name, "Nome" %>
        <%= f.text_field :name, class: "round default-width-input", autofocus: true %>
      </p>

      <p>
        <%= f.label :email %>
        <%= f.text_field :email, class: "round default-width-input" %>
      </p>

      <p>
        <%= f.label :message %>
        <%= f.text_area :message, class: "round default-width-input", rows: 5 %>
      </p>

      <div class="stripe-separator"><!--  --></div>
      
      <%= f.submit "Enviar", class: "button round blue image-right ic-right-arrow" %>

    </fieldset>

  <% end %>

</div>