<div class="content-module-heading cf">

  <h3 class="fl">Abrir ticket de suporte</h3>
  <span class="fr expand-collapse-text">Clique para esconder</span>
  <span class="fr expand-collapse-text initial-expand">Clique para expandir</span>

</div> <!-- end content-module-heading -->


<div class="content-module-main cf">

  <%= simple_form_for(@ticket) do |f| %>

    <fieldset>

      <p>
        <%= f.label :subject %>
        <%= f.text_field :subject, class: "round full-width-input", autofocus: true %>
      </p>

      <p>
        <%= f.label :content %>
        <%= f.text_area :content, class: "round full-width-input" %>
      </p>

      <div class="stripe-separator"><!--  --></div>
      
      <%= f.submit "Abrir", class: "button round blue image-right ic-right-arrow" %>
    
    </fieldset>

  <% end %>

</div>