<%= simple_form_for(@color) do |f| %>

  <fieldset>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name, class: "round full-width-input", autofocus: true %>
    </p>

    <p>
      <%= f.label :code %>
      <%= f.text_field :code, class: "round full-width-input" %>
    </p>

    <p>
      <%= f.label :category_id %>
      <%= f.select :category_id, Color::CATEGORIES, class: "round full-width-input" %>
    </p>

    <div class="stripe-separator"><!--  --></div>
    
    <%= f.submit "Salvar", class: "button round blue image-right ic-right-arrow" %>
  
  </fieldset>

<% end %>