<%= simple_form_for(@product) do |f| %>

  <fieldset>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name, class: "round full-width-input", autofocus: true %>
    </p>

    <p>
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, @categories, :id, :name, include_blank: true, class: "round default-width-input" %>
    </p>

<!--     <p class='colors'>
      <%= f.label :colors, id: "button_automotiva", label: "CORES AUTOMOTIVAS" %><br />
      <div class="automotivas">
        <%= hidden_field_tag 'product[color_ids][]', nil %>
        <% Color.automotivas.each do |color| %>
          <span class="automotivas">
            <%= check_box_tag 'product[color_ids][]', color.id, @product.color_ids.include?(color.id), id: dom_id(color) %> <%= label_tag dom_id(color), color.name, class: 'product-color', style: "border-color: #{color.code};" %>
          </span>
        <% end %>
      </div>
    </p> -->

<!-- <p class='colors'>
      <%= f.label :colors, id: "button_imobiliaria", label: "CORES IMOBILIÁRIAS" %><br />
      <div class="imobiliarias">
        <%# = hidden_field_tag 'product[color_ids][]', nil %>
        <%#  Color.imobiliarias.each do |color| %>
          <span class="imobiliarias">
            <%#= check_box_tag 'product[color_ids][]', color.id, @product.color_ids.include?(color.id), id: dom_id(color) %> <%= label_tag dom_id(color), color.name, class: 'product-color', style: "border-color: #{color.code};" %>
          </span>
        <%# end %>
      </div>
    </p> -->

<!-- <p class='colors'>
      <%#= f.label :sizes %><br />
      <%= f.fields_for :product_sizes do |s| %>
        <span>
          <%= s.hidden_field :size_id %>
          <%= s.object.size.code %>
          <%= s.text_field :price, style: 'margin-left: 15px; width: 60px' %>
        </span>
      <% end %>
    </p> -->

    <p>
      <%= f.label :price %>
      <%= f.text_field :price, class: "round small-width-input" %>
    </p>

    <p>
      <%= f.label :description %>
      <%= f.text_area :description, class: "redactor" %>
    </p>

    <p>
      <%= f.label :image %>
      <%= image_tag(@product.image.thumb) if @product.image? %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </p>

    <p>
      <%= f.label :active, "Disponível em estoque" %>
      <%= f.check_box :active %>
    </p>

    <div class="stripe-separator"><!--  --></div>
    
    <%= f.submit "Salvar", class: "button round blue image-right ic-right-arrow" %>
  
  </fieldset>

<% end %>