<div class="content-module-heading cf">

  <h3 class="fl">Produtos</h3>
  <span class="fr expand-collapse-text">Clique para esconder</span>
  <span class="fr expand-collapse-text initial-expand">Clique para expandir</span>

</div> <!-- end content-module-heading -->


<div class="content-module-main">

  <%= filter_form filter_products_path %>

  <table>
  
    <thead>
  
      <tr>
        <th></th>
        <th>Produto</th>
        <th>Categoria</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    
    </thead>
    
    <tbody>

      <% @products.each do |product| %>

      <tr>
        <td></td>
        <td><%= product.name %></td>
        <td><%= product.category.try(:name) %></td>
        <td><%= monetize product.price %></td>
        <td>
          <%= link_to "", [:edit, product], class: "table-actions-button ic-table-edit" %>
          <%= link_to "", product, method: :delete, confirm: "Confirma exclusão?", class: "table-actions-button ic-table-delete" %>
        </td>
      </tr>

      <% end %>

    </tbody>
    
  </table>

  <% if @products.num_pages > 1 %>

    <div class="stripe-separator"><!--  --></div>

    <%= paginate @products %>

  <% end %>

  <div class="stripe-separator"><!--  --></div>
  
  <%= link_to "Cadastrar Produto", new_product_path, class: "button round blue image-right ic-right-arrow" %>

</div>