<div class="content-module-heading cf">

  <h3 class="fl">Categorias</h3>
  <span class="fr expand-collapse-text"></span>
  <span class="fr expand-collapse-text initial-expand"></span>

</div> <!-- end content-module-heading -->


<div class="content-module-main">

  <ul class="regular-ul">

  <% @categories_root.each do |category_root| %>

    <li><%= category_root.name %> - <%= category_root.parent_id %> <%= link_to "editar", [:edit, category_root] %> <%= link_to "excluir", category_root, method: :delete, confirm: "confirma exclusão?" %>

     <ul>

        <% category_root.children.each do |category| %>

          <li><%= category.name %> - <%= link_to "editar", [:edit, category] %> <%= link_to "excluir", category, method: :delete, confirm: "confirma exclusão?" %>

            <ul>

            <% category.children.each do |subcategory| %>

                <li><%= subcategory.name %> - <%= link_to "editar", [:edit, subcategory] %> <%= link_to "excluir", subcategory, method: :delete, confirm: "confirma exclusão?" %></li>

              <% end %>

            </ul>

          </li>

        <% end %>

      </ul>

    </li>

  <% end %>

  </ul>

  <div class="stripe-separator"><!--  --></div>
  
  <%= link_to "Nova categoria", new_category_path, class: "button round blue image-right ic-right-arrow" %>
  <%= link_to "Importar", importation_categories_path, class: "button round blue image-right ic-favorite" %>

</div>