<%= render "products/filter" %>

<div class="product-details">
  <div class="row details-head">

    <div class="product">
      <div class="product-details" style="margin-left: 37px">
        Produto
      </div>

      <div class="price">
        Preço
      </div>
    </div>

  </div>

  <% @products.each do |product| %>
    <div class="row">

      <div class="product" id="product-<%= product.id %>">
        <div class="product-image">
          <%= image_tag get_image(product.image.mini), width: 35, height: 35 %>
        </div>

        <div class="product-details">
          <%= product.name %>
        </div>

        <div class="price">
          <%= monetize product.price %>
        </div>

        <div class="product-actions right">
          <%= link_to "Comprar", add_to_cart_product_path(product), class: "btn btn-carrinho" %>
        </div>
      </div>

    </div>

  <% end %>
</div>

<%= paginate @products %>