<%= render "products/filter" %>

<div class="product-listing">
  <% @products.in_groups_of(4, false).each do |row| %>
    <div class="row">

      <% row.each do |product| %>

        <div class="product three columns" id="product-<%= product.id %>">
          <div class="product-image">
            <%= image_tag "suvinil.jpg", width: 100, height: 100 %>
          </div>

          <div class="product-details">
            <%= product.name %>
          </div>

          <div class="product-actions">
            <span class="price left">
              <%= monetize product.price %>
            </span>
            <%= link_to "Comprar", add_to_cart_product_path(product), class: "btn right btn-carrinho", 'data-hint'=>"Bounce" %>
          </div>
        </div>

      <% end %>

    </div>

    <div class="hr"></div>
  <% end %>
</div>

<%= paginate @products %>