<div class="band footer">
  <footer class="container">
    <div class="sixteen columns">
      <div class="four columns alpha">
        <h4>Empresa</h4>

        <ul>
          <li><%= link_to "Institucional" %></li>
          <li><%= link_to "Conheça nossas lojas" %></li>
          <li><%= link_to "Contato" %></li>
          <li><%= link_to "Trabalhe conosco" %></li>
        </ul>
      </div>

      <div class="four columns">
        <h4>Notícias</h4>

        <ul>
          <li><%= link_to "Loja do pintor abre nova filial" %></li>
          <li><%= link_to "Prêmio pintor do ano" %></li>
        </ul>
      </div>

      <div class="four columns">
        <h4>Páginas</h4>

        <ul>
          <li><%= link_to "Aprenda a pintar" %></li>
          <li><%= link_to "Como escolher suas cores?" %></li>
          <li><%= link_to "Aprenda a pintar" %></li>
          <li><%= link_to "Como escolher suas cores?" %></li>
          <li><%= link_to "Aprenda a pintar" %></li>
          <li><%= link_to "Como escolher suas cores?" %></li>
          <li><%= link_to "Que tipo de tinta eu preciso?" %></li>
        </ul>
      </div>

      <div class="four columns omega">
        <%= image_tag "web/logo2.png", style: "float: right" %>
      </div>
    </div>
  </footer>
</div>