<div class="band main-menu">
  <div class="container">
    <div class="sixteen columns">
      <nav class="navbar">
        <ul class="nav primary_nav">
          <% @categories_root.each do |category_root| %>
            <li><%= link_to category_root.name, category_root %>

              <% if category_root.children.any? %>
              <ul class="sub_menu">

                <% category_root.children.each do |category| %>
                  <li><%= link_to category.name, category %>
                    <ul>
                      <% category.children.each do |subcategory| %>
                        <li><%= link_to subcategory.name, subcategory %></li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
              <% end %>

            </li>

          <% end %>
        </ul>

        <div class="minicart">
          <a href="#" class="minicart_link" >
            <div class="labeld">
              <span class="item"><b><%= current_cart.items.count %></b> itens - </span> <span><b><%= monetize current_cart.subtotal %></b></span>
            </div>
          </a>
          <div class="cart_drop"> <span class="darw"></span>
            <ul>
              <% current_cart.items.each do |item| %>
              <li>
                <img src="ag" width=46 height=46><%= link_to "#{item.quantity}x #{item.product.name}", 'javascript:void();' %> <span class="price"><%= monetize item.total %></span>
              </li>
              <% end %>

              <div class="cart_bottom">
                <div class="subtotal_menu"><small>Subtotal:</small><%= monetize current_cart.subtotal %></div>
                <%= link_to "Visualizar", cart_index_path %>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>