<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Loja do Pintor - Minha conta</title>
  
  <!-- Stylesheets -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet'>
  <%= stylesheet_link_tag    "admin/application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Optimize for mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
</head>
<body>

  <%= render 'layouts/admin_toolbar' %>

  <!-- HEADER -->
  <div id="header-with-tabs">
    
    <div class="page-full-width cf">
  
      <ul id="tabs" class="fl">
        <li><%= link_to 'Dashboard', dashboard_index_path, class: "dashboard-tab" %></li>
        <li><%= link_to 'Administração', admin_index_path, class: "active-tab" %></li>
      </ul> <!-- end tabs -->
      
      <!-- Change this image to your own company's logo -->
      <!-- The logo will automatically be resized to 30px height. -->
      <%= link_to image_tag("company-logo.png"), root_url, id: "company-branding-small", class: "fr" %>
      
    </div> <!-- end full-width -->  

  </div> <!-- end header -->
  
  <!-- MAIN CONTENT -->
  <div id="content">
    
    <div class="page-full-width cf">

      <div class="side-menu fl">
        
        <h3>Produtos</h3>
        <ul>
          <li><%= link_to "Categorias", categories_path %></li>
          <li><%= link_to "Produtos", products_path %></li>
          <li><%= link_to "Cores", colors_path %></li>
          <li><%= link_to "Recipíentes", sizes_path %></li>
        </ul>

        <h3>Cadastros</h3>
        <ul>
          <li><%= link_to "Usuários", users_path %></li>
          <li><%= link_to "Páginas", pages_path %></li>
        </ul>

        <h3>Pedidos</h3>
        <ul>
          <li><%= link_to "Abertos", open_purchases_path %></li>
          <li><%= link_to "Pagos", paid_purchases_path %></li>
          <li><%= link_to "Cancelados", canceled_purchases_path %></li>
          <li><%= link_to "Enviados", sent_purchases_path %></li>
        </ul>
        
        <h3>Gerência</h3>
        <ul>
          <li><%= link_to "Tickets", "" %></li>
          <li><%= link_to "Promoções", "" %></li>
        </ul>
        
      </div>
      
      <div class="side-content fr">
      
        <div class="content-module">
        
          <%= yield %>
        
        </div> <!-- end content-module -->

      </div>
    
      </div> <!-- end side-content -->
    
    </div> <!-- end full-width -->
      
  </div> <!-- end content -->

</body>
</html>