<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Loja do Pintor - Tudo em Tintas</title>
  
  <!-- Stylesheets -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet'>
  <%= stylesheet_link_tag    "web/application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Optimize for mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
</head>
<body>

  <%= render 'layouts/top-menu' %>

  <!-- HEADER -->
  <div id="header-with-tabs">
    
    <div class="page-limited cf">
  
      <%= render "layouts/header" %>

    </div> <!-- end full-width -->  

  </div> <!-- end header -->
  
  <%= render "layouts/navbar" %>

  <!-- MAIN CONTENT -->
  <div id="content">

    <div class="page-limited cf">
      <% [notice, alert].each do |f| %>
        <% unless f.blank? %>
          <div class="information-box round flash"><%= notice || alert %></div>
        <% end %>
      <% end %>
    </div>
    
    <div class="page-limited cf">

      <div class="side-menu fr">
        
        <%= render "layouts/left-menu" %>

      </div>
      
      <div class="side-content fl">
      
        <div class="content-module">

          <%= yield %>
        
        </div> <!-- end content-module -->

      </div>
    
      </div> <!-- end side-content -->
    
    </div> <!-- end full-width -->
      
  </div> <!-- end content -->

  <div id="footer">

    <%= render "layouts/footer" %>

  </div>

</body>
</html>